<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @member_comment.title %>
</p>

<%= link_to 'Edit', edit_member_comment_path(@member_comment) %> |
<%= link_to 'Back', member_comments_path %>
